@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #836FFF;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    background-color: white;
    padding: 1.5rem;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;
}

header > h1 > a {
    text-decoration: none;
    color: black
}

header > form {
    display: flex;
    flex-grow: 1;
}

header > form > input[type="search"],
header > form > button[type="submit"] {
    border: .1rem solid #777;
    border-radius: .5rem;
    padding: .5rem;
}

header > form > input[type="search"] {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

header > form > input[type="search"]:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

header > form > button[type="submit"] {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    background-color: #eaeaea;
}

header > form > button[type="submit"]:hover {
    background-color: #777;
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}

/* warna background */
.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header .row{
    margin-top: 70px;
}

/* header > nav {
    display: flex;
    gap: 5rem;
    align-items: flex-start;
}

header > nav > menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

header > nav > menu > li {
    list-style: none;
}

header > nav > menu > li > a {
    text-decoration: none;
    color: black;
    font-size: 1em;
} */

.account {
    border: none;
    background: none;
}

.account-content {
    color: #555;
}

button[type="button"]:hover {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    min-width: 5rem;
    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    top: 9vh;
    width: 10vw;
}

.account:hover .submenu, .submenu:hover {
    display: block;
}

a[href="login.html"] {
    text-decoration: none;
    color: black;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: .5em;
}

footer {
    color: #F0F3FF;
}

footer {
    text-align: center;
    padding: 3rem;
    background-color: var(--primary);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined-filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}